<div *ngIf="debug">
  <p>{{fund | json}}</p>
  <p>{{transactionType | json}}</p>
</div>


<div *ngIf="fund">
  <h1>{{fund.name}} Fund</h1>

  <div class="d-flex justify-content-between pb-3">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Income</h5>
        <p class="card-text">{{fund.income | currency:'GBP'}}</p>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Expenses</h5>
        <p class="card-text">{{fund.expenses | currency:'GBP'}}</p>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Balance</h5>
        <p class="card-text">{{fund.balance | currency:'GBP'}}</p>
      </div>
    </div>
  </div>


  <tabset>
    <tab heading="Transactions">
      <!--Transaction Table and Button-->
      <div class="text-right py-2">
        <button type="button" class="btn btn-primary" (click)="openModal(newTransaction)">New Transaction</button>
      </div>
      <div *ngIf="transactions">
        <table class="table">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Type</th>
            <th scope="col">Amount</th>
            <th scope="col">Description</th>
            <th scope="col">Date</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of transactions.items" [ngClass]="item.type == 1 ? 'table-success': 'table-danger'">
            <th scope="row">{{loadId(item)}}</th>
            <td>{{transactionType[item.type].name}}</td>
            <td>{{item.amount}}</td>
            <td>{{item.description}}</td>
            <td>{{item.date | date : 'shortDate' }}</td>
          </tr>
        </table>

        <!--pagination-->
        <div *ngIf="transactions.totalCount > 10" class="d-flex justify-content-center">
          <pagination [totalItems]="transactions.totalCount" [(ngModel)]="page" [maxSize]="10"
                      (pageChanged)="pageChanged($event)"></pagination>
        </div>
      </div>

    </tab>
    <tab heading="Recurring Transactions">

      <div *ngIf="recurringTransactions" class="mt-5">
        <table class="table">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Type</th>
            <th scope="col">Amount</th>
            <th scope="col">Description</th>
            <th scope="col">Date</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of recurringTransactions.items" [ngClass]="item.type == 1 ? 'table-success': 'table-danger'">
            <th scope="row">{{loadId(item)}}</th>
            <td>{{transactionType[item.type].name}}</td>
            <td>{{item.amount}}</td>
            <td>{{item.description}}</td>
            <td>{{item.date | date : 'shortDate' }}</td>
          </tr>
        </table>
      </div>

    </tab>
  </tabset>


  <ng-template #newTransaction>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Create New Transaction</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form">
        <div class="form-group">
          <label for="type">Type</label>
          <select class="form-control" id="type" [(ngModel)]="newTransactionForm.type">
            <option [ngValue]="item.value" *ngFor="let item of transactionType">{{ item.name }}</option>
          </select>
        </div>

        <div class="form-group">
          <label for="amount">Amount</label>
          <input type="text" class="form-control" id="amount" [(ngModel)]="newTransactionForm.amount"
                 [ngClass]="{ 'is-invalid': newTransactionForm.error }"/>
          <div *ngIf="newTransactionForm.error" class="invalid-feedback">
            {{ newTransactionForm.error }}
          </div>
        </div>

        <div class="form-group">
          <label for="description">Description</label>
          <input type="text" class="form-control" id="description" [(ngModel)]="newTransactionForm.description"
                 [ngClass]="{ 'is-invalid': newTransactionForm.error }"/>
          <div *ngIf="newTransactionForm.error" class="invalid-feedback">
            {{ newTransactionForm.error }}
          </div>
        </div>

        <div class="form-group">
          <label for="date">Date</label>
          <input type="text" placeholder="Datepicker" id="date" class="form-control" bsDatepicker
                 [(ngModel)]="newTransactionForm.date"
                 [bsConfig]="{ dateInputFormat: 'MM/DD/YYYY' }"/>
          <div *ngIf="newTransactionForm.error" class="invalid-feedback">
            {{ newTransactionForm.error }}
          </div>
        </div>
      </div>


      <div class="form-group">
        <label for="sub">Subscription Type</label>
        <select class="form-control" id="sub" [(ngModel)]="newTransactionForm.sub">
          <option [ngValue]="''"></option>
          <option [ngValue]="'Weekly'">Weekly</option>
          <option [ngValue]="'Monthly'">Monthly</option>
        </select>
      </div>

      <div class="modal-footer">
        <div class="text-right btn-group">
          <button type="button" class="btn btn-danger" (click)="modalRef.hide()">Cancel</button>
          <button type="button" class="btn btn-primary" (click)="addTransaction()">Submit</button>
        </div>
      </div>

    </div>
  </ng-template>
</div>


